/* Home.css */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    background-color: #f7f7f7; /* Light grey background */
}

.home-content {
    text-align: center;
    width: 90%;
    max-width: 1200px; /* Maximum width of the content */
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-title {
    color: #333; /* Dark grey color for the title */
    font-size: 2.5rem; /* 40px font size */
    margin-bottom: 20px;
}

.home-description {
    color: #666; /* Medium grey color for the description */
    font-size: 1.2rem; /* 18px font size */
    margin-bottom: 40px;
}

.home-signup {
    margin-top: 40px;
}

.signup-link {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    color: #fff; /* White text color */
    background-color: #007bff; /* Bootstrap primary blue */
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

.signup-link:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
